@using System.Web.Optimization
@model DateDiffMVC.ViewModels.HomeViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div style="width: 200px; height: 100px">

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

        <div class="container">
            <div class="row">
                <!--1ST COLUMN-->
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate.Day, new {htmlAttributes = new {@class = "control-label"}})
                                <div class="well well-sm">
                                    @Html.DropDownListFor(m => m.StartDate.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {htmlAttributes = new {@class = "form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate.Day, new {htmlAttributes = new {@class = "control-label"}})

                                <div class="well well-sm">
                                    @Html.DropDownListFor(m => m.StartDate.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {htmlAttributes = new {@class = "form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate.Day, new {htmlAttributes = new {@class = "control-label"}})

                                <div class="well well-sm">
                                    @Html.DropDownListFor(m => m.StartDate.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {htmlAttributes = new {@class = "form-control"}})

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--2nd COLUMN-->
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate.Day, new {htmlAttributes = new {@class = "control-label"}})
                                <div class="well well-sm">
                                    @Html.DropDownListFor(m => m.StartDate.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {htmlAttributes = new {@class = "form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate.Day, new {htmlAttributes = new {@class = "control-label"}})

                                <div class="well well-sm">
                                    @Html.DropDownListFor(m => m.StartDate.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {htmlAttributes = new {@class = "form-control"}})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate.Day, new {htmlAttributes = new {@class = "control-label"}})

                                <div class="well well-sm">
                                    @Html.DropDownListFor(m => m.StartDate.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {htmlAttributes = new {@class = "form-control"}})

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    <div style="clear: both;">
        @if (Model.Result != null)
        {
            @Html.LabelFor(m => m.Result, new { htmlAttributes = new { @class = "control-label" } })
            <h3>
                @($"There are {@Model.Result.Item3} Years {@Model.Result.Item2} Months and {@Model.Result.Item1} Days between these dates.");
            </h3>
        }
        else
        {
            <h3>
                Enter values to compare
            </h3>
        }
    </div>
}



        </div>

</body>

</html>
