@model DateDiffMVC.ViewModels.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>



<html>
<style type="text/css">
    .Main {
        background-color: white;
        margin-left: auto; /* Center mainTable for >= IE6  */
        margin-right: auto; /* Center mainTable for >= IE6  */
    }

    .LeftLabelColumn {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        height: 22px;
        padding-top: 5px;
    }

    .LeftValueColumn {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 5px;
    }
</style>
<body>
<div style="width: 200px; height: 100px">


    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div style="float: left; height: 0px; margin-right: 5px">
            @Html.LabelFor(m => m.StartDay, new {@class = "LeftLabelColumn"})
            @Html.DropDownListFor(m => m.StartDay, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {@class = "LeftValueColumn"})
            @Html.LabelFor(m => m.StartMonth, new {@class = "LeftLabelColumn"})
            @Html.DropDownListFor(m => m.StartMonth, Enumerable.Range(1, 12).Select(i => new SelectListItem {Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)}), "Month", new {@class = "LeftValueColumn"})
            @Html.LabelFor(m => m.StartYear, new {@class = "LeftLabelColumn"})

            @*@Html.DropDownListFor(m => m.StartYear, Enumerable.Range(1582, 650).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}).OrderByDescending(i => i.Value), "Year", new {@class = "LeftValueColumn"})*@
        </div>
        <div style="float: right; margin-left: 15px">
            @Html.LabelFor(m => m.EndDay, new {@class = "LeftLabelColumn"})
            @Html.DropDownListFor(m => m.EndDay, Enumerable.Range(1, 31).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}), "Day", new {@class = "LeftValueColumn"})
            @Html.LabelFor(m => m.EndMonth, new {@class = "LeftLabelColumn"})
            @Html.DropDownListFor(m => m.EndMonth, Enumerable.Range(1, 12).Select(i => new SelectListItem {Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i)}), "Month", new {@class = "LeftValueColumn"})
            @Html.LabelFor(m => m.EndYear, new {@class = "LeftLabelColumn"})
            @Html.DropDownListFor(m => m.EndYear, Enumerable.Range(1582, 650).Select(i => new SelectListItem {Value = i.ToString(), Text = i.ToString()}).OrderByDescending(i => i.Value), "Year", new {@class = "LeftValueColumn"})
            


            <input type="submit" value="Convert" style="margin-top: 5px"/>
        </div>



        <div style="clear: both;">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                @Html.LabelFor(m => m.Result, new {@class = "LeftLabelColumn"})
                @Html.TextBoxFor(m => m.Result, new { @style ="width:400px;" })
            }
            else
            {
                @Html.Label("Enter values to compare")
            }
        </div>
        @Html.ValidationSummary()

    }

</div>
    

</body>

</html>
